.truncate {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.bnt-page {
  display: flex;
  justify-content: space-around;
}

.card img,
.bi-heart-fill {
  cursor: pointer;
}
